@font-face {
  font-family: "Raleway";
  src: url("font/Raleway.ttf");
}

body {
	margin: top;
	max-width: 753px;
	font-family: Raleway
    }
.header {
	width: 753px;
	height: 237px;
	background-color: #2d7053;
	display: flex;
    margin: 0;
    font-family: Raleway
    }
.circle  {
      width: 144px;
      height: 144px;
      background-color: white;
      border-radius: 100%;
      margin: 46px 57px 47px 37px;
      }
.h1 {
	width: 144px;
    height: 144px;
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	vertical-align: top;
	margin: 53px 249px 53px 0px;
	}
.lines {
    display: inline-block;
    width: 87px;
	height: 71px;
    margin: 83px 44px 83px 0px;
	}
.line {
    display: inline-block;
	width: 70px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    }
.block_1 {
    display: flex;
    width: 753px;
	height: 502px;
}
.kabinet {
    width: 753px;
	height: 502px;
	position: absolute;
}
.black_fon {
    width: 752px;
	height: 470px;
	background-color: rgba(0, 0, 0, 1);
	opacity: 0.4;
	position: absolute;
	margin: -9px -9px 0px 9px;
}
.btn {
    position:absolute;
	margin-top: 368px;
	margin-left: 206px;
	color: white;
	background-color: #cb9223;
	font-size: 24px;
	padding: 20px 36px 20px 36px;
	text-align: center;
	text-decoration: none;
}
.block_2 {
    display: inline-block;
    width: 753px;
    }
.foto {
    width: 247px;
    height: 247px;
    border-radius: 50%;
    margin-top: 90px;
    margin-left: 44px;
    }

.info {
    display: inline-block;
    position: absolute;
    width: 245px;
    height: 106px;
    margin-top: 150px;
    margin-left: 73px;
    }
.block_3 {
    display: block;
    width: 590px;
    height: 477px;
    margin-top: 60px;
    margin-left: 44px;
    margin-bottom:147px;
    font-size: 24px;
}
.text {
    display: inline;
    margin-top: 60px;
    margin-left: 44px;
    text-align: left;
}
.btn_1 {
    position:absolute;
	margin-top:42px;
	margin-left: 170px;
	color: white;
	background-color: #cb9223;
	font-size: 24px;
	padding: 20px 36px 20px 36px;
	text-align: center;
	text-decoration: none;
}
.footer {
    display: flex;
    width: 752px;
    height: 156px;
    margin-top: 0px;
    background: #888888;
}
.circle_2 {
     width: 99px;
    height: 99px;
    background-color: white;
    border-radius: 100%;
    position: relative;
    top: 29px;
    left: 44px;
}

.phone {
    position: relative;
    top: 58px;
    left: 428px;
    text-decoration: none;
    color: white;
}

.adress {
    position: relative;
    top: 104px;
    left: 83px;
    text-decoration: none;
    color: white;
}

.mail {
    position: relative;
    top: 104px;
    left: 136px;
    text-decoration: none;
    color: white;
}