:root {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	color: #354657;
}
body {
	margin: 0;
}
header {
	background-color: #F8F4FC;
	margin: 0;
}
.header_first {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
}
.logo {
    width: 267px;
    height: 58px;
    margin-top: 10px;
}
.menu {
    display: flex;
	width: 432px;
    height: 19px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 90px;
    margin-top: 31px;
    font-size: 16px;
    margin-right: 20%;
}
.menu a {
	text-decoration: none;
	font-weight: 700;
	color: #354657;
	text-align: center;
}
.head_icons {
    margin-top: 30px;
    margin-right: 20px;
}
.head_icons a {
    padding-left: 30px;
}
.head_icons a img {
    width: 22px;
    height: 22px;
}
.header_second {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    color: #626262;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header_second a {
    color: #626262;
}
.header_second a img {
    width: 14px;
    height: 14px;
}
.header_name {
	border-bottom: 1px solid #E2E2E2;
	margin: 0 auto;
    width: 80%;
	}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}
.contact_menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #F0F2F5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact-section {
    display: flex;
    justify-content: flex-start;
	height: inherit;
	align-content: flex-start;
	align-items: center;
	margin: 20px 0px 20px 0px;
}
.our-adress, .our-phone, .our-mail {
    margin-left: 40px;
    vertical-align: middle;
}
h3 {
    margin: 0px 0px 3px 0px;
}
.our-adress a {
text-decoration: none;
color: black;
}
.our-phone a, .our-mail a {
text-decoration: none;
color: #946FD3;
font-weight: 700
}

.contact-icon {
      width: 60px;
      height: 60px;
      border: 2px solid #D6D9DE;
      border-radius: 50%;
      display: flex;
      margin-left: 20px;
      margin-right: 20px;
}
.contact-icon img {
    margin: auto;
}
.btn {
    background-color: #946FD3;
	font-size: 16px;
	font-weight: 700;
	border-radius: 50px;
	width: 70%;
	padding: 20px 20px;
	border: none;
	text-align: center;
	margin: 20px auto 20px auto;
}
.btn a {
	text-decoration: none;
	color: white;
}
.content {
	width: 65%;
}

footer {
	margin-top: 150px;
	border-top: 1px solid #E2E2E2;
}
.footer_container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 31px;
	align-items: center;
}
.footer-links {
    margin-right: 20%;
}
.footer-links a{
    text-decoration: none;
    color: #354657;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
}
.social-links img{
    width: 28px;
    height: 28px;
}