
@font-face {
  font-family: "MYRIADPRO-REGULAR";
  src: url("fonts/MYRIADPRO-REGULAR.ttf");
}
body {
	margin: top;
	max-width: 7531283;
	font-family: MYRIADPRO
    }
.header {
	width: 753px;
    }

.logo {
    width: 292px;
    height: 74px;
    margin-top: 61px;
    margin-left: 101px;
}
.navigation {
    display: flex;
    width: 1283px;
    height: 72px;
    margin-left: 91px;
    background-color: #35444F;
    list-style: none;
}
.nav_item a {
    display: block;
    padding-left: 5em;
    padding-top: 1em;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    }

.menu {
    list-style: none;
    position: absolute;
    width: 344px;
    height: 400px;
    border: 1px solid #35444F;
    margin-top: 0px;
    margin-left: 101px;
    padding-top: 0px;
    padding-left: 0px;
}
.menu-item {
    height: 80px;
    width: 100%;
    text-decoration: none;
    text-align: center;
}
.menu-item a {
    display: block;
    font-size: 30px;
    color: #495863;
    text-decoration: none;
    padding-top: 0.7em;
}
.menu-item:hover {
    background: #DBDBDB;
    }
.b1 {
  display: block;
  width: 885px;
  height: 529px;
  border: 1px solid;
  position: absolute;
  margin-left: 496px;
}
.image {
  width: 320px;
  height: 381px;
  padding-left: 18em;
  padding-top: 5em;
}

#text {
    width: 885px;
    padding-top: 0px;
    margin-top: 600px;
    margin-left: 496px;
    color: #2C2C2C;
    font-size: 18px;
}
.footer {
    display: flex;
    padding: 0rem;
    background-color: #B4B7BA;
    width: 1283px;
    height: 69px;
    margin-left: 101px;
    margin-top: 51px;
    list-style-type: none
}
.footer > .footer-item a {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    padding-left: 1.5rem;
    font-size: 28px;
    text-decoration: none;
    color: black;
}
.data {
    padding-left: 20%;
    font-size: 24px;
    padding-top: 1rem;
}