@font-face{
    font-family: Verdana;
    src: url("../fonts/Verdana.otf");
    font-size: 18px;
}
body {
  background-image: url(../img/background.png);
  width: 1360px;
  height: 760px;
  z-index: 2;
  display: inline-block;
}
.page-header {
    display: inline-block;
    width: 1360px;
}
.logo {
    background-image: url(../img/CompositeLayer.png);
    display: inline-block;
    width: 166px;
    height: 44px;
    margin-left: 155px;
    margin-top: 49px;
}
.logo:hover{
    background-image: url(../img/Logo.png);
}
.contacts {
    display: inline-block;
    text-align: right;
    float: right;
    margin-right: 147px;
    margin-top: 57px;
}
.contacts a {
    display: block;
    text-decoration: none;
    color: white;
}
.main_block {
    width: 1115px;
    height: 540px;
    margin-top: 46px;
    margin-left: 125px;
}
}
.block {
    display: inline-block;
    width: 100%;
    height: 240px;
    margin: auto;
    index: 1;
}
.block a {
    text-decoration: none;
    color: white;
}
.block a:hover {
    text-decoration: none;
    color: #f26522;
}
.bar {
    background-color: none;
    display: inline-block;
    width: 19.25rem;
    height: 70.5px;
    index: 2;
    position: absolute;
    margin-top: -120px;
    margin-left: -154px;
    opacity: 0;
    }
.bar .price {
    text-align: left;
    float: left;
    color: white;
    margin-left: 21px;
    margin-top: 21px;
    }
.bar .details {
    text-align: right;
    float: right;
    color: white;
    margin-right: 21px;
    margin-top: 31px;
}
.bar:hover{
    background-color: #f26522;
    display: inline-block;
    width: 19.25rem;
    height: 70.5px;
    opacity: 1;
    }

footer {
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 40px;
    }
