:root {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	color: #354657;
}

body {
	margin: 0;
}
header {
	background-color: #F8F4FC;
	margin: 0;
	width: 1920px;
    height: 118px;
}
.header_first {
    width: 1280px;
    margin-left: 16.46%;
    display: flex;
}
.logo {
    width: 267px;
    height: 58px;
    margin-top: 10px;
}
.menu {
    display: flex;
	width: 432px;
    height: 19px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 90px;
    margin-top: 31px;
    font-size: 16px;
}
.menu a {
	text-decoration: none;
	font-weight: 700;
	color: #354657;
	text-align: center;
}
.head_icons {
    margin-left: 300px;
    margin-top: 30px;
}
.head_icons a {
    padding-left: 30px;
}
.head_icons a img {
    width: 22px;
    height: 22px;
}
.header_second {
    width: 80%;
    margin-left: 16.46%;
    color: #626262;
}
.header_second a {
color: #626262;
}
.header_second a img {
    width: 14px;
    height: 14px;
}
.content {
    display: flex;
	width: 1280px;
    margin-left: 316px;
}
.header_name {
	border-bottom: 1px solid #E2E2E2;
	width: 1280px;
	margin-left: 316px;
}
.order_name h1 {
	font-size: 30px;
	padding-top: 70px;
	padding-bottom: 17px;
	margin: 0;
}
.left_side {
    display: block;
    width: 384px;
}

.enterform {
    height: 113px;
    background-color: #F0F2F5;
    margin-top: 40px;
}
.form-name {
	font-size: 20px;
	font-weight: 700;
	padding-top: 20px;
	margin-left:20px;
}
.enterform input {
	accent-color: #946FD3;
	margin-top: 20px;
	margin-left: 20px;
	width: 19px;
    height: 19px
}
.user_data {
    display: block;
    margin-top: 20px;
    height: 818px;
    background-color: #F0F2F5;
}
.input-user_data {
    padding-top: 20px;
    display: block;
    height: 64px;
    margin-left: 20px;
}
.input-user_data input {
    border: 1px solid #B6B6B6;
    width: 330px;
    height: 38px;
    margin-top: 10px;
    text-indent: 5px;
}
.right_side {
    display: block;
    width: 874px;
    padding-left: 30px;
    margin-top: 0px;
}
.delivery_form  {
     height: 113px;
     background-color: #F0F2F5;
     margin-top: 40px;
}
.delivery_form input {
	accent-color: #946FD3;
	margin-top: 20px;
	margin-left: 20px;
}
.paymentform {
    height: 113px;
     background-color: #F0F2F5;
     margin-top: 40px;
 }
.paymentform input {
	accent-color: #946FD3;
	margin-top: 20px;
	margin-left: 20px;
}
.cart {
}
.cart > .form-name {
	margin-left: 0px;
}
.card_grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
	align-items: center;
    height: 41px;
    background-color: #F0F2F5;
    padding-left: 20px;
    padding-right: 20px;
}
.card_grid_2 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
	align-items: center;
    height:58px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.product_photo {
    width: 45px;
    height: 45px;
}
.product_photo img {
    width: 45px;
    height: 45px;
}
.product_name {
}
.quantity {
    display: flex;
    align-items: stretch;
    width: 139px;
    height: 33px;
}
.num {
    width: 46px;
    height: 29px;
	border: 1px solid #E9E9E9;
	border-radius: 3px;
}
.icons input {
    width: 33px;
    height: 33px;
    padding-left: 10px;
}
.price {
}
.summary {
}
.cart-total {
    border-collapse: collapse;
    margin-left: auto;
}
.cart-total th {
    text-align: right;
    padding-right: 30px;
}

.cart-total tbody tr {
    weight: 550px;
    height: 47px;
    text-transform:uppercase;
}
#color {
    background: #F0F2F5;
}
.comment-form {
	background-color: #F0F2F5;
	margin-top: 30px;
	width: 874px;
    height: 318px;
	padding-left: 20px;
    padding-right: 20px;
	padding-top: 20px;
	margin-top: 30px;
}
.comment-form textarea {
    margin-left: 20px;
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	border: 1px solid #B6B6B6;
}
.comment-form label {
    margin-left: 20px;
}
.agreement {
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}

.pay-button {
	padding-left: 10px;
	margin-left: 640px;
	}
.button {
	background-color: #946FD3;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-radius: 50px;
	width: 206px;
	padding: 20px 20px;
	border: none;
	}
footer {
	margin-top: 150px;
	border-top: 1px solid #E2E2E2;
}
.footer_container {
    display: flex;
    width: 1280px;
    height: 19px;
    flex-direction: row;
    justify-content: space-between;
	margin-left: 316px;
    margin-top: 31px;
	align-items: center;
}
.footer-links {
    margin-right: 350px;
}
.footer-links a{
    text-decoration: none;
    color: #354657;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
}
.social-links img{
    width: 28px;
    height: 28px;
}